<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family</title>
</head>
<body>
    <h1>Family Members</h1>
    
        {% for member in familyMembers %}
        <p>ID {{ member.id }}</p>
            <ul>
                <li>{{ member.name }}</li>
                <li>{{ member.lastName }}</li>
                <li>{{ member.createdAt }}</li>
            </ul>

        {% endfor %}
    
</body>
</html>